/*............General styles..........*/
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #2D4257;
    font-weight: 400;
}

.text-light {
    font-weight: 300;
}

.text-bold {
    font-weight: 700;
}

.text-smaller {
    font-size: 80%;
}

.text-bigger {
    font-size: 180%;
}

.text-big {
    font-size: 130%;
}

.text-italic {
    font-style: italic;
}

/*..............Colors*/
.color-primary {
    color: #2D4257;
}

.color-secondary {
    color: #B8907B;
}

.color-muted {
    color: #8899AA;
}

/*............General styles..........*/

/*...........UI Kit overwrites........*/

.uk-navbar-nav > li > a {
    text-transform: capitalize;
    color: #8899AA;
}

.uk-navbar-nav > li > a:hover,
.uk-navbar-nav > li > a:active {
    color: #2D4257;
    font-weight: 700;
}

.uk-nav-default .uk-nav-sub a {
    color: #2D4257;
}

.uk-link,
a {
    color: #2D4257;
}

.uk-link:hover,
a:hover {
    text-decoration: none;
    color: #2D4257;
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
    font-family: 'Montserrat', sans-serif;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.uk-button-default {
    background-color: transparent;
    color: #2D4257;
    border: 1px solid #2D4257;
}

.uk-section-muted {
    background: rgba(136, 153, 170, 0.14);
}

.uk-card-default {
    cursor: pointer;
}

.uk-section-primary {
    background: #2D4257;
}

.uk-nav-default li a {
    font-size: 18px;
    color: #2D4257;
}

.uk-button-primary {
    background: #2D4257;
    color: #FFFFFF;
}

.uk-button-primary:hover {
    background-color: transparent;
    color: #2D4257;
    border: 1px solid #2D4257;
}

.uk-light .uk-logo {
    color: #2D4257;
}

.uk-light .uk-navbar-nav > li > a {
    color: #8899AA;
}

.uk-light .uk-navbar-nav > li > a:hover,
.uk-light .uk-navbar-nav > li > a:active {
    color: #2D4257;
    font-weight: 700;
}

.uk-light .uk-navbar-item a {
    color: #8899AA;
}

.uk-light .uk-navbar-item a:hover,
.uk-light .uk-navbar-item a:active {
    color: #B8907B;
}

.uk-badge,
.uk-light .uk-badge {
    background: #2D4257;
    color: #FFFFFF;
}

.uk-badge:hover,
.uk-light .uk-badge:hover {
    background: #B8907B;
    color: #FFFFFF;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #FFFFFF;
}

.uk-close {
    color: #8899AA;
}

.uk-select {
    border: 1px solid rgba(136, 153, 170, 0.14);
}

.uk-input {
    color: #8899AA;
    border: 1px solid rgba(136, 153, 170, 0.14);
}

/*...........UI Kit overwrites........*/

/*.............header section.............*/

.main-heading {
    font-size: 400%;
    font-weight: 700;
    margin: 0;
    line-height: 1em;
}

.sub-heading {
    font-size: 170%;
    letter-spacing: 1px;
    margin: 0;
    line-height: 1.2em;
}

.sub-sub-heading {
    letter-spacing: 2px;
}

/*.............header section.............*/

/*.............Breadcrumb.............*/

.breadcrumb {
    background: rgba(136, 153, 170, 0.14);
}

.breadcrumb ul {
    margin-top: 5px;
}

.bread-crumb-search {
    margin-top: 5px;
}

/*.............Breadcrumb.............*/

/*.............categories section.............*/

.category h3 {
    font-weight: 700;
}

.category p {
    font-weight: 400;
}

.category h3,
.category p {
    width: 100%;
    margin: 0;
    color: #FFFFFF;
}

.cart-card-img img {
    width: 100%;
}

.category-item a:hover {
    text-decoration: none;
}

.fashion-card-title {
    font-weight: 700;
    color: #2D4257;
}

.arts-card-title {
    font-weight: 700;
    color: #B8907B;
}

.arts-card-title a {
    font-weight: 700;
    color: #B8907B;
}

.arts-card-title a:hover,
.fashion-card-title a:hover {
    color: #8899AA;
}

/*.............categories section.............*/

/*.............Featured products section.............*/

.featured-item {
    border: 1px solid rgba(136, 153, 170, 0.14);
}

.featured-h2 {
    text-transform: capitalize;
    font-weight: 700;
    color: #2D4257;
}

.featured-card-title {
    color: #2D4257;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.featured-card-title a:hover,
.featured-card-title a:active {
    text-decoration: none;
    color: #8899AA;
}

.featured-pro p {
    margin-top: 0;
}

.price {
    font-size: 150%;
    font-weight: 700;
    margin-top: -10px;
}

/*.............Featured products section.............*/

/*.............Single product section.............*/

.single-product-img img {
    width: 100%;
    margin: auto;
}

.single-product h1 {
    margin-top: 0;
    line-height: 1em;
}

.shipping-claim p {
    margin: 10px 0;
}

.testimonials p {
    margin: 0;
}

.price-tag p {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

/*.............Single product section.............*/

/*............Product cart.............*/

.cart-items,
.cart-messages {
    width: 70%;
}

.cart-item {
    border-bottom: 1px solid rgba(136, 153, 170, 0.14);
    padding-bottom: 10px;
}

.cart-item a:hover {
    text-decoration: none;
    color: #B8907B;
}



.cart-desc h3,
.cart-select,
.cart-price,
.cart-actions p {
    margin: 30px 0 0 0;
}

.cart-actions p {
    margin: 40px 0 0 0;
}

.cart-desc h3 {
    line-height: 1em;
}

.cart-desc p {
    margin: 0;
    padding: 5px 0;
}

.coupon-code p {
    margin-top: 30px;
}

.shipping-info {
    width: 60%;
    box-sizing: border-box;
}

.totals {
    width: 40%;
    box-sizing: border-box;
}

.totals p {
    line-height: .6em;
}


/*
.cart-actions p:last-of-type {
    margin: 0;
    padding: 0;
}
*/

/*............Product cart.............*/

/*.............Footer section.............*/

footer h4 {
    font-weight: 700;
}

footer li a {
    color: rgba(255, 255, 255, .7);
}

footer .uk-nav li a:hover,
footer .uk-nav li a:active {
    color: rgba(136, 153, 170, 0.14);
    text-decoration: underline;
}

/*.............Footer section.............*/


/*Media queires*/

@media only screen and (max-width: 600px) {
    html {
        font-size: 80%;
    }

    .cart-item img {
        width: 70px;
        height: auto;
    }

    .cart-items {
        width: 100%;
    }

    .shipping-info,
    .totals {
        width: 100%
    }

    .main-heading {
    font-size: 300%;
        margin-top: -100px;
}
}
